.join-us-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 90svh;
}
.join-us-form h2{
    font-family: var(--montserrat);
    font-size: 2.7rem;
    color: var(--green);
}

.form-group input{
    font-family: var(--noto);
    font-size: 1.1rem;

    padding: 0.7rem 1rem;
    margin: 0.4rem;
    border: none;
    border-bottom: 2px solid var(--bluish-green);
    outline: none;
}
.form-group label{
    font-family: var(--noto);
    font-size: 1.1rem;
}

.join-us-form button {
    background-color: var(--orange);
    outline: none;
    border: none;
    border-radius: 0.5rem;
    padding: 1rem;
    width: 18rem;
    margin-top: 1.3rem;

    color: var(--white);
    font-family: var(--noto);
    font-weight: 500;
    font-size: 1.2rem;

    cursor: pointer;
}

.uploadBox{
    font-size: 1.1rem;
    background-color: var(--bluish-green);
    color: var(--white);
    border-radius: 1rem;
    padding: 0.4rem;
    margin-top: 0.9rem;
    width: 16rem;
    outline: none;
}

::-webkit-file-upload-button{
    font-size: 1.1rem;
    background-color: var(--green);
    color: var(--white);
    border-radius: 1rem;
    padding: 0.8rem;
    outline: none;
    border: none;
    margin-left: 0.3rem;
}