.section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  margin-top: -4rem;
}

.image-container {
  width: 50%;
  height: 100%;
  margin:  0 4rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  width: 70%;
  height: 70%;
  border-radius: 2rem;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 50px;
  width: 50%;
  margin:  0 6rem;



}
.content-container h2{
  font-size: 3.2rem;
  font-family: var(--montserrat);
  color: var(--green);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Create 2 columns */
  grid-template-rows: repeat(2, 1fr); /* Create 2 rows */
  gap: 5px;
  border-radius: 10px;
  font-size: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: gray;
  padding: 2rem;
  color: black;
  justify-content: space-between;
}
.grid-card {
  padding: 1.5rem 2rem;
  line-height: 1.6rem;
  word-spacing: 0.07rem;
  letter-spacing: 0.02rem;
  color: var(--white);
  font-family: var(--noto);
  font-weight: 400;
  text-align: left;
  width: auto; /* Adjust width to allow two columns */
  background-color: var(--bluish-green);
  border-radius: 10px; /* Adjust the border-radius for rounded corners */
  color: var(--black);
  margin: 10px;
}

.grid-card h3 {
  font-family: var(--noto);
  font-size: 1.2rem;
  color: black;
  font-style: bold
;
}

.grid-card p {
  text-align: left;
  font-style: sans-serif;
}

.grid-card:hover {
  background-color: var(--green);
  cursor: pointer;
}

