.section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    margin-top: -4rem;
  }
  
  .image-container {
    width: 50%;
    height: 100%;
    margin:  0 4rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image-container img {
    width: 70%;
    height: 70%;
    border-radius: 2rem;
  }
  
  .content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 50px;
    width: 50%;
    margin:  0 6rem;



  }
  .content-container h2{
    font-size: 3.2rem;
    font-family: var(--montserrat);
    color: var(--green);
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 10px;
  }
  .grid-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .grid-card h3{
    font-family: var(--noto);
    font-size: 1.3rem;
    color: var(--bluish-green);
  }
  .grid-card p {
    
    text-align: center;
    width: 60%;
    font-family: var(--noto);
  }
  